{%extends 'all-gramm/base.html'%}

 {% block content %}

 <div class="container">

   <div class="row">
     <img src="{{image.Images_image.url}}"  class="img-responsive" alt="">
   </div>

   <div class="row">
     <h1 class="text-center">{{image.name}}</h1>
   </div>

   <div class="row">
     {% autoescape on %}
     <!-- {{image.post| safe}} -->
    {% endautoescape %}

   </div>

   <div class="row">
     <p>Posted {{image.pub_date|timesince}} by {{profile.name}}</p>
   </div>

 </div>

 {% endblock %}