
{% load bootstrap3 %} {% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    {{form.media}}
    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/basegramm.css' %}"> {% endblock %}
</head>
<body>
    {% include "navbar.html" %}
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <form action="{%url 'new-profile'%}" method="post" enctype="multipart/form-data">
                    {%csrf_token%}
                    {% bootstrap_form form%}
                    <input type="submit" class="btn btn-success btn-lg" value="Post">
                </form>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    {% block scripts %}
    
    {% bootstrap_javascript %} {% endblock %}
</body>
</html>